<!-- evara-frontend/shop-cart.html# -->

<style>
    .couponItem {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        /* Space between each coupon */
    }

    .couponItem input[type="radio"] {
        margin-right: 10px;
        /* Space between radio button and label */
    }

    .couponItem label {
        cursor: pointer;
        /* Pointer cursor on hover */
    }
</style>

<section>
    <div class="container mt-25">
        <div class="row">
            <div class="col-12" id="wholeBody">

                <div class="table-responsive">
                    <table class="table shopping-summery text-center clean">

                        <thead>
                            <tr class="main-heading">
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>

                        <tbody id="cartTableBody">
                            <!-- data will be dynamically added -->
                        </tbody>

                    </table>
                </div>

                <div class="cart-action text-end">
                    <a href="/home" class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                </div>

                <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                <div class="row mb-50">
                    <div class="col-lg-6 col-md-12">
                        <div class="mb-30 mt-50">
                            <div class="heading_s1 mb-3">
                                <h4>Apply Coupon</h4>
                            </div>
                            <div class="total-amount">
                                <div class="left">
                                    <div class="coupon">

                                        <div class="couponList">
                                            <!-- coupons will be dynamically added over here -->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="border p-md-4 p-30 border-radius cart-totals" id="cartTotals">

                            <div class="heading_s1 mb-3">
                                <h4>Cart Totals</h4>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cart_total_label">Cart Subtotal</td>
                                            <td class="cart_total_amount"><span class="font-lg fw-900 text-brand" id="cartSubtotal">0/-</span></td>
                                        </tr>
                                    
                                        <tr>
                                            <td class="cart_total_label">Coupon Discount</td>
                                            <td class="cart_total_amount"><span class="font-lg fw-900 text-brand" id="couponDiscount">0/-</span></td>
                                        </tr>
                                    
                                        <tr>
                                            <td class="cart_total_label">Shipping Charge</td>
                                            <td class="cart_total_amount" id="shippingCharge"><i class="ti-gift mr-5"></i> 500/-</td>
                                        </tr>
                                        <tr>
                                            <td class="cart_total_label">Total</td>
                                            <td class="cart_total_amount">
                                                <strong><span class="font-xl fw-900 text-brand" id="total">0/-</span></strong>
                                            </td>
                                        </tr>
                                        <p>Shipping Charge of 500/- will be applied for all orders below 2000/-</p>
                                    </tbody>
                                </table>
                            </div>

                            <button id="proceedToCheckout" class="btn"><i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="/scripts/toast.js"></script>
<script src="/scripts/cartPage.js"></script>