<main class="main">

    <body onload="startTimer()">
        <section class="pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 m-auto">

                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30">Change Password</h3>
                                </div>
                                <p class="mb-50 font-sm">
                                    Please enter the OTP received on your email and enter new password for your account
                                    then submit the form. You can also use the resend button to resend the otp to your
                                    email.
                                </p>
                                <form id="otpForm">

                                    <div class="form-group">
                                        <input type="text" required="" id="otpInput" name="otp"
                                            placeholder="Enter your OTP">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Enter your new Password</label>
                                        <input required="" type="password" name="password" id="password"
                                            placeholder="Password" onkeyup="validatePassword()" required>
                                        <span id="passwordErr" style="color:crimson;"></span>
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox"
                                                    id="checkbox" onclick="showPassword()" value="">
                                                <label class="form-check-label" for="checkbox"><span>show
                                                        password</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="button" class="btn btn-fill-out btn-block hover-up"
                                            onclick="changePassword()" id="submit"  disabled >Submit OTP</button>
                                    </div>
                                </form>
                                <!-- <div class="divider-text-center mt-15 mb-15">
                                    <span> or</span>
                                </div>
                                <ul class="btn-login list_none text-center mb-15">
                                    <li>
                                        <div> You can request for new OTP in <span id="timmer">now<span> </div>
                                    </li>
                                    <li>
                                        <button onclick="resendOtp()" id="resend" disabled>Resend OTP</button>
                                    </li>
                                </ul> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
</main>

<script>
    let timmerSpan = document.getElementById('timmer')
    const resendButton = document.getElementById('resend')
    const submitButton = document.getElementById('submit')
    let passwordInput = document.getElementById('password')

    let interval;
    function startTimer() {
        resendButton.disabled = true;
        console.log("timmer started")
        let counter = 10
        timmerSpan.innerHTML = counter;

        interval = setInterval(function () {
            counter--;
            timmerSpan.innerHTML = counter

            if (counter <= 0) {
                clearInterval(interval)
                resendButton.disabled = false;
            }
        }, 1000)
    }

    function validatePassword() {
        let password = passwordInput.value.trim()
        let passwordErrInput = document.getElementById('passwordErr')
        let regex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/

        if (password.length === 0) {
            passwordErrInput.innerHTML = "Please enter valid password"
            passwordInput.style.borderColor = "red"
        } else if (!regex.test(password)) {
            passwordErrInput.innerHTML = "Incorrect password format"
            passwordInput.style.borderColor = "red"
        } else {
            passwordInput.style.borderColor = "green"
            passwordErrInput.innerHTML = ""
            password.validity = true
            submitButton.disabled = false
        }
    }
    function showPassword() {
        if (passwordInput.type === "password") {
            passwordInput.type = "text"
        } else {
            passwordInput.type = "password"
        }

    }

    async function changePassword() {
        const otp = document.getElementById("otpInput").value;
        const password = passwordInput.value

        const response = await fetch('/api/changePassword', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ otp, password })
        })
        const result = await response.json()
        if (result.success) {
            window.location.href = result.redirectUrl;
        } else {
            document.querySelector('.mb-50').innerHTML = `<H4 style="color: crimson;">${result.message}</H4>`;
        }
    }

    async function resendOtp() {
        const response = await fetch('/api/resendOtp', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        const result = await response.json()
        if (result.success) {
            document.querySelector('.mb-50').innerHTML = `<H4 >${result.message}</H4>`
            startTimer()
        } else {
            document.querySelector('.mb-50').innerHTML = `<H4 style="color: crimson;">${result.message}</H4>`;
        }
    }




</script>

<!-- *^*^*^*^*^*^*^*^*^*^*^*^*^*^* -->