<section class="pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 m-auto">

                <div
                    class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1 mb-20">
                            <h3 class="mb-10">Forgot Password</h3>
                            <p id="response" style="color: rgb(96, 94, 91);">
                                Please enter your registered Email or else please register.</p>
                        </div>
                        <form>

                            <h4 class="h4" id="h4" style="color: crimson;">
                            </h4>

                            <div class="form-group">
                                <input type="text" required="" name="email" id="email" placeholder="Enter your email"
                                    onkeyup="validateEmail()" required>
                                <span id="emailErr" style="color: crimson;"></span>
                            </div>

                            <div class="form-group">
                                <button type="button" id="sendOtp" class="btn btn-fill-out btn-block hover-up" disabled
                                    onclick="checkUser()">Send OTP</button>
                            </div>
                        </form>

                        <div class="divider-text-center mt-15 mb-15">
                            <span> or</span>
                        </div>
                        <div>
                            <div class="text-muted text-center">Create new account <a class="hover-up"
                                    href="/register">Register
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>

<script>
    let emailInput = document.getElementById('email')

    function validateEmail() {
        let email = emailInput.value.trim()
        let emailErrInput = document.getElementById('emailErr')
        let regex = /^[a-zA-Z0-9._%+-]+@gmail\.com$/

        if (email.length === 0) {
            emailErrInput.innerHTML = "Please enter valid Email"
            emailInput.style.borderColor = "red"
            document.getElementById('sendOtp').disabled = true;

        } else if (!regex.test(email)) {
            emailErrInput.innerHTML = "Please enter email ends with gmail.com"
            emailInput.style.borderColor = "red"
            document.getElementById('sendOtp').disabled = true;

        } else {
            emailInput.style.borderColor = "green"
            emailErrInput.innerHTML = ""
            if (emailInput.value.trim() != 0) {
                document.getElementById('sendOtp').disabled = false;
            }
        }
    }

    async function checkUser() {
        let email = emailInput.value.trim();
        const response = await fetch('/api/checkUser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email })
        })
        const result = await response.json()
        if (result.success) {
            window.location.href = result.redirectUrl;
        } else {
            document.getElementById('response').innerHTML = `<h4 style="color:crimson" >${result.message}</h4>`;
        }
    }

</script>