<div class="text-center mb-200 mt-100">
    <h3>Your order is Placed...</h3>
    <a href="/myAccount" class="btn mt-15 mr-10 hover-up">Show Orders</a>
    <a href="/home" class="btn mt-15 ml-10 hover-up " style="background-color: white; border-color: GREEN; color: green;">Continue Shopping</a>
</div>
<!-- 
<section class="mt-50 mb-50 ">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-md-6">
                <div class="order_review">
                    <div class="mb-20">
                        <h4>Your Orders <%= order.orderId  %></h4>
                    </div>
                    <div class="table-responsive order_table text-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Product</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="image product-thumbnail"><img src="assets/imgs/shop/product-1-1.jpg"
                                            alt="#">
                                    </td>
                                    <td>
                                        <h5><a href="shop-product-full.html">Yidarton Women Summer Blue</a></h5>
                                        <span class="product-qty">x 2</span>
                                    </td>
                                    <td>$180.00</td>
                                </tr>

                                <tr>
                                    <th>SubTotal</th>
                                    <td class="product-subtotal" colspan="2">$280.00</td>
                                </tr>
                                <tr>
                                    <th>Shipping</th>
                                    <td colspan="2"><em>Free Shipping</em></td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td colspan="2" class="product-subtotal"><span
                                            class="font-xl text-brand fw-900"><%= order.orderTotal  %> .00</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>

                </div>
            </div>
        </div>

    </div>

</section> -->