<section class="mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12" id="wholeBody">

                <div class="table-responsive">
                    <table class="table shopping-summery text-center">
                        <thead>
                            <tr class="main-heading">
                                <th scope="col" colspan="2">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock Status</th>
                                <th scope="col">Action</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>

                        <tbody id="wishlistTableBody">

                            <!-- data will by dynamically added -->

                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="/scripts/header.js"></script>
<script src="/scripts/addToCart.js"></script>
<script src="/scripts/wishlist.js"></script>
