<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">



        <%- include('../partials/header.ejs') %>

            <main>
                <%- body %>
            </main>






            <%- include('../partials/footer.ejs') %>






                <!-- Preloader Start -->
                <div id="preloader-active">
                    <div class="preloader d-flex align-items-center justify-content-center">
                        <div class="preloader-inner position-relative">
                            <div class="text-center">
                                <h5 class="mb-5">Now Loading</h5>
                                <div class="loader">
                                    <div class="bar bar1"></div>
                                    <div class="bar bar2"></div>
                                    <div class="bar bar3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Vendor JS-->
                <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
                <script src="/js/vendor/jquery-3.6.0.min.js"></script>
                <script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
                <script src="/js/vendor/bootstrap.bundle.min.js"></script>
                <script src="/js/plugins/slick.js"></script>
                <script src="/js/plugins/jquery.syotimer.min.js"></script>
                <script src="/js/plugins/wow.js"></script>
                <script src="/js/plugins/jquery-ui.js"></script>
                <script src="/js/plugins/perfect-scrollbar.js"></script>
                <script src="/js/plugins/magnific-popup.js"></script>
                <script src="/js/plugins/select2.min.js"></script>
                <script src="/js/plugins/waypoints.js"></script>
                <script src="/js/plugins/counterup.js"></script>
                <script src="/js/plugins/jquery.countdown.min.js"></script>
                <script src="/js/plugins/images-loaded.js"></script>
                <script src="/js/plugins/isotope.js"></script>
                <script src="/js/plugins/scrollup.js"></script>
                <script src="/js/plugins/jquery.vticker-min.js"></script>
                <script src="/js/plugins/jquery.theia.sticky.js"></script>
                <!-- Template  JS -->
                <script src=".//js/main.js?v=3.4"></script>
</body>

</html>






</div>

</body>

</html>