<style>
    .menu-item a {
    font-size: 20px;
}

</style>

<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="/admin/dashboard" class="brand-wrap">
            <img src="/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">

            <li class="menu-item ">
                <a class="menu-link" href="/admin/dashboard" id="dashboard-btn"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li class="menu-item ">
                <a class="menu-link" href="/admin/users" id="usersButton"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>

            </li>

            <li class="menu-item ">
                <a class="menu-link" href="/admin/products" id="productsButton"> <i
                        class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>

            </li>

            <li class="menu-item ">
                <a class="menu-link" href="/admin/category" id="categoryButton"> <i
                        class="icon material-icons md-category"></i>
                    <span class="text">Product Category</span>
                </a>

            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/orders" id="ordersButton"> <i
                        class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/banners" id="bannersButton"> <i
                        class="icon material-icons md-collections"></i>
                    <span class="text"> Banners </span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/coupons" id="couponsButton"> <i
                        class="icon material-icons md-local_play"></i>
                    <span class="text"> Coupons </span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/offers" id="offers-button"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Offers</span> </a>
            </li>



            <!-- --------------------------------------------------------------------------------------------------------------------->

            <!--
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                    <span class="text">Sellers</span>
                </a>
                <div class="submenu">
                    <a href="page-sellers-cards.html">Sellers cards</a>
                    <a href="page-sellers-list.html">Sellers list</a>
                    <a href="page-seller-detail.html">Seller profile</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Add product</span>
                </a>
                <div class="submenu">
                    <a href="page-form-product-1.html">Add product 1</a>
                    <a href="page-form-product-2.html">Add product 2</a>
                    <a href="page-form-product-3.html">Add product 3</a>
                    <a href="page-form-product-4.html">Add product 4</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-transactions-1.html"> <i
                        class="icon material-icons md-monetization_on"></i>
                    <span class="text">Transactions</span>
                </a>
                <div class="submenu">
                    <a href="page-transactions-1.html">Transaction 1</a>
                    <a href="page-transactions-2.html">Transaction 2</a>
                    <a href="page-transactions-details.html">Transaction Details</a>
                </div>
            </li>
            
            <li class="menu-item">
                <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Reviews</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Brands</span> </a>
            </li>

        </ul>
        <hr>
        <ul class="menu-aside">
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
                <div class="submenu">
                    <a href="page-settings-1.html">Setting sample 1</a>
                    <a href="page-settings-2.html">Setting sample 2</a>
                </div>
            </li>

        </ul> -->
            <br>
            <br>
    </nav>
</aside>


<script>
    // Get the current URL
    const currentUrl = window.location.href;

    // Get the link elements
    const dashboardButton = document.getElementById('dashboard-btn')
    const usersButton = document.getElementById('usersButton')
    const productsButton = document.getElementById('productsButton')
    const categoryButton = document.getElementById('categoryButton');
    const ordersButton = document.getElementById('ordersButton')
    const bannersButton = document.getElementById('bannersButton');
    const couponsButton = document.getElementById('couponsButton');
    const offersButton = document.getElementById('offers-button');


    // Add the active class to the respective link based on the URL
    if (currentUrl.includes('/admin/users')) {
        usersButton.parentNode.classList.add('active')
    } else if (currentUrl.includes('/admin/products')) {
        productsButton.parentNode.classList.add('active')
    }
    else if (currentUrl.includes('/admin/category')) {
        categoryButton.parentNode.classList.add('active');
    } else if (currentUrl.includes('/admin/banners')) {
        bannersButton.parentNode.classList.add('active');
    } else if (currentUrl.includes('/admin/orders')) {
        ordersButton.parentNode.classList.add('active');
    } else if (currentUrl.includes('/admin/coupons')) {
        couponsButton.parentNode.classList.add('active');
    }else if(currentUrl.includes('/admin/offers')){
        offersButton.parentNode.classList.add('active');
    }else if(currentUrl.includes('/admin/dashboard')){
        dashboardButton.parentNode.classList.add('active');
    }
</script>